DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_USER=postgres.hsnmprgyipijeopuwdlq
DB_PASSWORD=kWr4fUGIFhuYOtAw
DB_NAME=postgres
DB_PORT=6543
DB_SSL=require
JWT_SECRET=tunorth_brms_secret_key_2026
PORT=8080
